@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');
      	:root{
      		--headercolor:#2a2a2a;
      		--interfacecolor:#fff;
      		--bodycolor:#d5d5d5;
      	}
        body{
	        margin:0;
	        font: 1rem 'Montserrat', sans-serif;
	        background:var(--bodycolor);
        }
        .active{
        	display:block !important;
        	height:auto !important;
        }